# dependencies
node_modules/
.pnpm-store/

# build output
dist/
.output/
.nuxt/
.nitro/
.cache/
*.tsbuildinfo

# prisma
packages/**/generated/
apps/api/prisma/generated/

# env & secrets
.env
.env.*
!.env.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editor / os
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json

# misc
coverage/
*.local
